.home-view {
    padding: 12px;
    gap: 20px;
  }

 .home-section {
    padding: 16px;
  }
.home-section h2 {
    font-size: 16px;
    margin-bottom: 12px;
  }

.home-section p {
    font-size: 12px;
    margin-bottom: 10px;
  }